### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Check to see if there are any rows with missing data
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [3]:
# SN is a unique identifying column, using the function-nunique() will return the number of unique player
tot_player = purchase_data.SN.nunique()
tot_player

576

In [4]:
# Total no. of players df
total_players = [{'total players':tot_player}]
total_player_df = pd.DataFrame(total_players)
total_player_df

   total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# No. of Unique Items by Item ID
u_items = purchase_data['Item ID'].nunique()
u_items

179

In [6]:
# Average price of items
avg_price_item = purchase_data['Price'].sum()/purchase_data['Price'].count()
print('$'+"{:.2f}".format(avg_price_item))

$3.05

In [7]:
# Total No. of Purchases
tot_purchases = purchase_data['Purchase ID'].count()
print("{:.0f}".format(tot_purchases))

780

In [8]:
# Total Revenue
tot_revenue = purchase_data['Price'].sum()
print('$'+"{:,.2f}".format(tot_revenue))

$2,379.77

In [9]:
# Create DataFrame with Purchasing analysis calculations (Purchasing Analysis Total)
purchase_anal = [{'Number of Unique Items':u_items,'Average Price':('$'+"{:.2f}".format(avg_price_item)),
                 'Number of Purchases':("{:.0f}".format(tot_purchases)),
                 'Total Revenue':('$'+"{:,.2f}".format(tot_revenue))}]
purchase_anal_df = pd.DataFrame(purchase_anal)
purchase_anal_df

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
# create df without duplicates for demographics output
purchase_data_nd_df = purchase_data.loc[:,['Gender','SN','Age']]
purchase_data_nd_df = purchase_data_nd_df.drop_duplicates()
len(purchase_data_nd_df)

576

In [11]:
# Counts for gender and percentages of each group
gender_nd = purchase_data_nd_df['Gender'].value_counts()
gender_df = pd.DataFrame(gender_nd)
gender_nd
percent = gender_nd/tot_player
percent

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [ ]:
# Create Gender Demographics df
gender_df = pd.DataFrame({"Total Count": gender_nd,
                         "Percentage of Players": percent})
gender_df['Percentage of Players'] = gender_df['Percentage of Players'].map("{:.2%}".format)
gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# Purchase counts by gender of all puchase, including duplicate buyers (780)
gender = purchase_data['Gender'].value_counts()
gender_df = pd.DataFrame(gender)
gender_df

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [13]:
# Total purchase value by gender
gender_total_purch = purchase_data.groupby(['Gender']).sum()['Price']
gender_total_purch

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [14]:
# Average price of gender of all purchases
gender_avg_price = purchase_data.groupby(['Gender']).mean()['Price']
gender_avg_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [15]:
# Use existing variables to calculate the Average Price per person (No Duplicates)
un_gender_avg_price = gender_total_purch/gender_nd
un_gender_avg_price

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [16]:
# Data Frame for Gender Purchasing
gender_purch_df = pd.DataFrame({"Purchase Counts" : gender,
                               "Average Purchase Price" : gender_avg_price,
                               "Total Purchase Value" : gender_total_purch,
                               "Average Total Purchase per Person" : un_gender_avg_price})
gender_purch_df

,Purchase Counts,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
# purchase_data['Age'].min() - 7
# purchase_data['Age'].max() - 45
# Create bins from age groups
bins_age = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
label_bins = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# fill bins with .cut
pd.cut(purchase_data['Age'], bins_age, labels=label_bins)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [18]:
# Add the age group columnn for each row in the df, using the above code to create the bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins_age, labels = label_bins)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [24]:
# drop duplicates () as done above
purch_data_bins_nd_df = purchase_data.loc[:, ['Gender','SN','Age','Age Group']]
purch_data_bins_nd_df = purch_data_bins_nd_df.drop_duplicates()

group_age = purch_data_bins_nd_df["Age Group"].value_counts(sort=False)
group_age

<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age Group, dtype: int64

In [25]:
percent_age = group_age/tot_player
percent_age

<10      0.029514
10-14    0.038194
15-19    0.185764
20-24    0.447917
25-29    0.133681
30-34    0.090278
35-39    0.053819
40+      0.020833
Name: Age Group, dtype: float64

In [26]:
# Age Demographic Data Summary Data Frame
age_demo_df = pd.DataFrame({'Total Count' :group_age,
                           'Percentage of Players' :percent_age})
# age_demo_df['Percentage of Players'] = age_demo_df['Percentage of Players'].map("{:.2%}".format)
age_demo_df['Percentage of Players'] = age_demo_df['Percentage of Players'].map("{:.2%}".format)
age_demo_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Top Spenders

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame